@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');
body{
    font-family: roboto, sans-serif;
    margin: 0;
    
}

.outer-first{
    width: 100%;
    background-color: #1F2937;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;

}
.First{
    background-color: #1F2937;
    margin-bottom: 100px;
    width: 1012px;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 80px;
}

.header-logo{
    font-size: 24px;
    color: #F9FAF8;
     
}


ul{
    list-style-type: none;
    display: flex;
}
li{
    padding: 0 16px;
}
a{
    text-decoration: none;
    color: #e5e7ebab;
}

.container{
    display: flex;
    justify-content: space-between;
}

.box1{
    width: 50%;
    padding-right: 100px;
}

.bold-text{
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
    overflow-wrap: break-word;
    
    
}

.para-1, .para-2{
    font-size: 18px;
    color: #e5e7ebab;
}

.para-1{
    overflow-wrap: break-word;
}

.button-1{
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 8px 25px;
    border-radius: 8px;
    border-style: solid;
    border-color: #1F2937;
}


.para-2{
    background-color: #e5e7ebab;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 50%;
}

.outer-second{
    width: 100%;
    background-color: #ffffff;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;

}

.second{
    padding: 50px 0 100px 0;
    width: 1003px;
}
.title2{
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}
.container2{
    display: flex;
    justify-content: space-between  ;
    /* row-gap: 25px; */
}
.item{
    width: 185px;
    height: auto;
}
.item-box{
    width: 170px;
    height: 170px;
    border-radius: 15px;
    border: 5px solid #3882F6;
    margin-bottom: 10px;
}
.item-text{
    color: #1F2937;
    overflow-wrap: break-word;
    text-align: center;
}
.outer-third{
    width: 100%;
    background-color: #E5E7EB;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;

}
.third{
    padding: 100px 0 70px 0;
    width: 800px;
}

.para3{
    font-size: 36px;
    font-style:  italic;
    font-weight: 100;
    color:  #1F2937;
    margin-bottom: 40px;
}
.firma{
    font-weight: 700;
    font-size: 26px;
    text-align: end;
}
.outer-fourth{
    margin: 100px 0;
    width: 100%;
    background-color: #3882F6;
    padding: 0;
    display: flex;
    justify-content: center;
}
.fourth{
    width: 800px;
    margin: 50px 0;
    display: flex;
}
.container3{
    width: 70%;
}
.container4{
    width: 30%;
}
.title3{
    color: #ffffff;
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 5px;
}
.para4{
    color: #ffffff;
    font-weight: 100;

}
.container4{
    display: flex;
    justify-content:right;
    align-items: center;

}
.button-2{
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 6px 30px;
    border-radius: 8px;
    border-color: #F9FAF8;
    border-style: solid;
}

.outer-fifth{
    background-color: #1F2937;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.footer{
    font-size: 16px;
    font-weight: 300;
    color: #E5E7EB;
}